{#<section td-section-footer="md_1-0-2">#}
{#    <footer class="py-4 px-2 px-md-6">#}
{#        <div class="_footer-md row">#}
{#            <div class="col-12 col-sm-4 p-3 p-sm-5">#}
{#                <div>#}
{#                    <a td-nav-url="/">#}
{#                        <div class="_logo td-image">#}
{#                            <img td-logo="" alt="" style="object-position: top;" src="https://main.takedropstorage.com/td-page-builder/assets/categories/FunSport/mocks/logo.png">#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="_navs-vertical col-12 col-sm-4 p-3 p-sm-5">#}
{#                <a class="td-text mb-4" style="font-weight:700" td-editable="" td-t_value="Menu">Menu</a>#}
{#                <a td-nav-url="/products" class="td-text" td-editable="" td-t_value="Products">Produkty</a>#}
{#                <a td-nav-url="/help-center" td-nav-props="forceRerender" class="td-text" td-editable="" td-t_value="Help Center">Centrum pomocy</a>#}
{#                <a td-nav-url="/contact" class="td-text" td-editable="" td-t_value="Contact">Kontakt</a>#}
{#            </div>#}
{#            <div class="_navs-vertical col-12 col-sm-4 p-3 p-sm-5">#}
{#                <a class="td-text mb-4" style="font-weight:700" td-editable="" td-t_value="Contact">Kontakt</a>#}
{##}
{#                <div class="_contact-nav">#}
{#                    <span class="material-symbols-rounded notranslate">#}
{#                        call#}
{#                    </span>#}
{#                    <div>#}
{#                        <span><span class="td-text-form" td-editable="" td-t_value="Phone">Telefon</span>:</span>#}
{#                        <span class="td-text-small fw-normal td-uc-bgHSd-Te" td-editable="">+48 534 695 238<br>+48 513 167 100</span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="_contact-nav">#}
{#                    <span class="material-symbols-rounded notranslate">#}
{#                        mail#}
{#                    </span>#}
{#                    <div>#}
{#                        <span><span class="td-text-form" td-editable="" td-t_value="E-mail">E-mail</span>:</span>#}
{#                        <span class="td-text-small fw-normal " td-editable="">sklepmnb@gmail.com</span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="_contact-nav">#}
{#                    <span class="material-symbols-rounded notranslate">#}
{#                        chat_bubble#}
{#                    </span>#}
{#                    <div>#}
{#                        <span><span class="td-text-form" td-editable="" td-t_value="Chat">Czat</span>:</span>#}
{#                        <span class="td-text-small fw-normal" td-editable="">Napisz do nas</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="_footer-sm row mt-6">#}
{#            <div class="col-12 col-sm-2">#}
{#                <p class="font-weight-normal mb-0 td-text-form" td-editable="" td-t_value="YearCopyright"></p>#}
{#            </div>#}
{#            <div class="col-12 col-sm-8 _navs-horizontal">#}
{#                <a td-nav-url="#" td-nav-props="newTab" td-editable="iconLink">#}
{#                    <div class="_footer-icon">#}
{#                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                            <path d="M17.619 0H2.38095C1.0681 0 0 1.0681 0 2.38095V17.619C0 18.9319 1.0681 20 2.38095 20H17.619C18.9319 20 20 18.9319 20 17.619V2.38095C20 1.0681 18.9319 0 17.619 0ZM15.7171 8.72524C15.609 8.73524 15.4995 8.7419 15.3886 8.7419C14.1395 8.7419 13.0419 8.09952 12.4033 7.12857C12.4033 9.67571 12.4033 12.5738 12.4033 12.6224C12.4033 14.8648 10.5852 16.6829 8.34286 16.6829C6.10048 16.6829 4.28238 14.8648 4.28238 12.6224C4.28238 10.38 6.10048 8.5619 8.34286 8.5619C8.42762 8.5619 8.51048 8.56952 8.59381 8.57476V10.5757C8.51048 10.5657 8.42857 10.5505 8.34286 10.5505C7.1981 10.5505 6.27048 11.4781 6.27048 12.6229C6.27048 13.7676 7.1981 14.6952 8.34286 14.6952C9.48762 14.6952 10.4986 13.7933 10.4986 12.6486C10.4986 12.6033 10.5186 3.3181 10.5186 3.3181H12.431C12.611 5.0281 13.9914 6.37762 15.7171 6.50143V8.72524Z" fill="black"></path>#}
{#                        </svg>#}
{#                    </div>#}
{#                </a>#}
{#                <a td-nav-url="https://www.facebook.com/groups/takedrop" td-nav-props="newTab" td-editable="iconLink">#}
{#                    <div class="_footer-icon">#}
{#                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                            <path d="M11 0C4.9347 0 0 4.93422 0 11C0 17.0658 4.9347 22 11 22C17.0658 22 22 17.0658 22 11C22 4.93422 17.0658 0 11 0ZM14.3478 6.69565H12.7743C11.8475 6.69565 11.4783 6.91326 11.4783 7.55939V9.08696H14.3478L13.8696 11.4783H11.4783V17.6957H8.6087V11.4783H7.17391V9.08696H8.6087V7.76026C8.6087 5.73961 9.41504 4.30435 11.7561 4.30435C13.0101 4.30435 14.3478 4.78261 14.3478 4.78261V6.69565Z" fill="black"></path>#}
{#                        </svg>#}
{#                    </div>#}
{#                </a>#}
{#                <a td-nav-url="https://www.youtube.com/watch?v=RH56ivY30Jc" td-nav-props="newTab" td-editable="iconLink">#}
{#                    <div class="_footer-icon">#}
{#                        <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                            <path d="M19.4417 2.57812C19.2568 1.54724 18.3759 0.796509 17.3536 0.562134C15.8238 0.234375 12.9926 0 9.92931 0C6.86786 0 3.9913 0.234375 2.45967 0.562134C1.43919 0.796509 0.556462 1.49963 0.371579 2.57812C0.184883 3.75 0 5.39062 0 7.5C0 9.60938 0.184883 11.25 0.416893 12.4219C0.603589 13.4528 1.4845 14.2035 2.50499 14.4379C4.12906 14.7656 6.91318 15 9.97644 15C13.0397 15 15.8238 14.7656 17.4479 14.4379C18.4684 14.2035 19.3493 13.5004 19.536 12.4219C19.7209 11.25 19.9529 9.56177 20 7.5C19.9057 5.39062 19.6737 3.75 19.4417 2.57812ZM7.42432 10.7812V4.21875L13.085 7.5L7.42432 10.7812Z" fill="black"></path>#}
{#                        </svg>#}
{##}
{#                    </div>#}
{#                </a>#}
{#                <a td-nav-url="#" td-nav-props="newTab" td-editable="iconLink">#}
{#                    <div class="_footer-icon">#}
{#                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                            <path d="M6.20455 0C2.7825 0 0 2.7825 0 6.20455V14.7955C0 18.2175 2.7825 21 6.20455 21H14.7955C18.2175 21 21 18.2175 21 14.7955V6.20455C21 2.7825 18.2175 0 14.7955 0H6.20455ZM16.2273 3.81818C16.7523 3.81818 17.1818 4.24773 17.1818 4.77273C17.1818 5.29773 16.7523 5.72727 16.2273 5.72727C15.7023 5.72727 15.2727 5.29773 15.2727 4.77273C15.2727 4.24773 15.7023 3.81818 16.2273 3.81818ZM10.5 5.25C13.397 5.25 15.75 7.60295 15.75 10.5C15.75 13.397 13.397 15.75 10.5 15.75C7.60295 15.75 5.25 13.397 5.25 10.5C5.25 7.60295 7.60295 5.25 10.5 5.25ZM10.5 6.20455C8.13273 6.20455 6.20455 8.13273 6.20455 10.5C6.20455 12.8673 8.13273 14.7955 10.5 14.7955C12.8673 14.7955 14.7955 12.8673 14.7955 10.5C14.7955 8.13273 12.8673 6.20455 10.5 6.20455Z" fill="black"></path>#}
{#                        </svg>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#            <!--<div class="col-12 col-sm-2" td-hidden-editable="" td-placeholder="powered_by">-->#}
{#            <!--    <img src="https://main.takedropstorage.com/td-page-builder/assets/placeholders/powered_by.svg" alt="">-->#}
{#            <!--</div>-->#}
{#        </div>#}
{#    </footer>#}
{#</section>#}