.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%; /* Szerokość panelu bocznego */
    background-color: #333; /* Kolor tła */
    z-index: 1000; /* Warstwa wyżej niż inne elementy */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Delikatny cień */
    overflow: auto;
    background: linear-gradient(to right, #4A90E2, #50C9C3);
}

.sidebar .nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Odstęp między linkami */
    padding: 0 1rem; /* Odstępy po bokach */
}

.sidebar .nav-link {
    padding: 10px 15px; /* Dodaj odstępy wewnętrzne */
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 5px; /* Zaokrąglone rogi */
}

.sidebar .nav-link:hover {
    background-color: #444; /* Kolor tła po najechaniu */
    /*background: linear-gradient(to right, #4A90E5, #50C9C6);*/
    color: #fff;
}


