
 <aside class="sidebar p-3">
        <ul class="nav justify-content-center flex-column">
            <li>
                <a href="/home" class="nav-link text-white d-flex align-items-center justify-content-center flex-column">
                    <i class="bi bi-house"></i>
                    <span class="d-none d-xl-inline">Home</span>
                </a>
            </li>
            <li>
                <a href="/users" class="nav-link text-white d-flex align-items-center justify-content-center flex-column">
                    <i class="bi bi-wrench-adjustable"></i>
                    <span class="d-none d-xl-inline">Dashboard-Users</span>
                </a>
            </li>
            <li>
                <a href="/app/static" class="nav-link text-white d-flex align-items-center justify-content-center flex-column">
                    <i class="bi bi-wrench-adjustable"></i>
                    <span class="d-none d-xl-inline">Dashboard-Posts</span>
                </a>
            </li>
        </ul>
                <a href="{{ url_for('logout') }}" class="btn btn-warning mt-3">LogOut</a>
    </aside>